/**
 * Site header
 */
.site-header {
    border-top: 5px solid $primary-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: #e2e1e0;
}

.post-page, .book-page {
    .page-content {
        background: #f6f6f6;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    // margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

#mc_embed_signup{
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;

    @media screen and (min-width: 801px) {
        input.email {
            width: 200px !important;
        }
    }
}

.book-list {
    text-align: center;
    margin-bottom: 40px;

    .book {
        // width: 120px;
        height: 200px;
        margin-left: 10px;
        margin-right: 10px;

        @media screen and (max-width: 420px) {
            height: auto;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}


.post-meta > span:not(:first-child):before {
    content: "\00a0\2022\00a0";
    color: inherit;
    padding-right: 4px;
}

.tag-container {
    .post-tag:not(:last-child):after {
        content: ",";
        color: inherit;
    }
}

.post-excerpt {
    font-style: italic;
}

.post-title {
    margin-bottom: 10px;
}

.type-book {
    background: #fff;
    padding: 28px;
    padding-left: 215px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    
    .book {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;

        img {
            height: 100%;
            max-width: 200px;
        }
    }

    @media screen and (max-width: 718px) {
        padding-left: 28px;
        padding-top: 0;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        .book {
            position: initial;
            text-align: center;
            margin-bottom: 14px;

            img {
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
}

.type-post {
    background: #fff;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.type-micro-post {
    display: inline-block;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;

    @media screen and (max-width: 718px) {
        width: 45%;
    }

    @media screen and (max-width: 474px) {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

.type-video {

    iframe {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        @media screen and (max-width: 600px) {  
            height: 300px;
        }

        @media screen and (max-width: 474px) {
            height: 250px;
        }

        @media screen and (max-width: 375px) {
            height: 200px;
        }
    }
}

iframe {
    display: block;
}

blockquote {
    color: $primary-color;
    border-left: none;
    padding-left: 0;
    font-size: 20px;
    letter-spacing: -1px;
    font-style: italic;
    margin-left: -40px;
    margin-right: -40px;
    text-align: justify;
    font-weight: bold;

    p:first-of-type {
        text-align: inherit !important;
    }

    p:last-of-type {
        text-align: right;
    }

    a {
        color: darken($primary-color, 10%) !important;
    }
}

.book-post-link {
    margin-top: 40px;
}

a, a:visited {
    color: $primary-color;

    &:active, &:hover {
        color: darken($primary-color, 15%);
    }
}

.syndication-image {
    height: 50px;
}

.post-list {
    margin-top: 30px;
}

.h-card {
    &.p-author {
        display: inline-block;

        img {
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 1px;
            vertical-align: text-bottom;
        }
    }
}

.rsvp-response {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;

    .rsvp-date {
        display: inline-block;
        width: 25%;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
        background-color: $primary-color;
        color: #fff;

        .weekday, .monthday {
            font-weight: 800;
            font-size: 25px;
            line-height: 28px;
        }
    }
    .rsvp-content {
        display: inline-block;
        width: 60%;
        padding-left: 20px;
        padding-top: 10px;
        font-size: 20px;
    }
}

.type-rsvp {
    .post-meta {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.social-pages > span:not(:first-child):before {
    content: "\00a0\2022\00a0";
    color: inherit;
    padding-right: 4px;
}