<article class="type-reply post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span rel="author" class="p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    <span class="reading-time-container">{{ page.duration}} min read</span>
        <span class="tag-container">
          {% for tag in page.tags %}
            <span class="post-tag p-category">{{ tag }}</span>
          {% endfor %}
        </span>
        </div>
  </header>

  <div class="reply-context">
        <h2 class="post-title">{{ page.reply-title }}</h2>
        <blockquote>{{page.reply-context}}</blockquote>
        <div><i class="fa fa-reply" aria-hidden="true"></i> In Reply To  {{page.reply-author}} on <a href="{{page.in-reply-to}}" target="_blank">{{page.reply-site}} <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
  </div>
  

  <div class="reply-content post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="">
    Syndicated: {% if page.syndication %}
      {% for syndicated in page.syndication %}
        {% include syndication.html %}
      {% endfor %}
    {% endif %}
  </footer>

</article>